html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 0;
  
  background-color: #f5f5f5;
}

div h1 {
  margin-top: 1%;
}

#nav-purchase-page {
  background-color: #4A0D66 !important;
}

.return-homepage {
  margin-left: 9%;
}

.invis {
 visibility: hidden;
}

.alert {

}

.form-signin {
  display: inline-block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login {
  display: inline-block;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-top: 45px;

}

.form-login input[type="password"] {
  margin-top: 15px;
  margin-bottom: -35px;

}